/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*
*
*
*
*
*
*
*
*
*
*stylesheet starts here */


a {
    color: rgb(0,155,255);
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(0,155,255);
    line-height: 30px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: calc(100% - 4px);
    height: 220px;
    z-index: 3;
    border-style: ridge;
    border-width: 2px;
}

.upper-header {
    display: table;
    width: 100%;
    height: 80%;
}

.contact-info {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    height: 20%;
}

.contact-info p {
    font-family: sans-serif;
    font-size: 24px;
    color: #111;
    font-weight: 200;
    text-shadow: 0.5px 0.5px 0.5px #e1e1e1;
}

.contact-info img {
    width: 25px;
}

.header-logo{
    float: left;
    margin: 30px 40px 15px 20px;
    text-align: left;
    height: 115px;
}

.header-logo img{
    width: 40vw;
    height: 100%;
}

nav {
    height: 20%;
}

header nav ul {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header nav ul li {
    display: block;
    float: left;
    list-style: none;
    line-height: 14px;
    padding: 0 14px;
}

header nav ul li a {
    font-family: sans-serif;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: #111;
    font-weight: 400;
    text-shadow: 1px 1px 1px #e1e1e1;
}

@media only screen and (min-width: 1024px) {
    header{
        height: 200px;
        width: 1020px;
    }

    .header-logo img{
        width: 400px;
    }

    header nav ul li {
        line-height: 100%;
    }

    header nav ul li a {
        font-size: 16px;
    }

    header nav ul li:hover a {
        text-decoration: underline;
    }
}


/* INDEX PAGE */


.index-banner {
    position: relative;
    margin: 200px 0 10px;
    width: 100%;
    height: 65vh;
    background: url('misc/waves.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    background-position-y: 200px;
    display: table;
    z-index: 2;
}

.index-banner h1 {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    line-height: 30px;
}

.text-pos {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 50%;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.welcome-text {
    text-align: justify;
}

.welcome-text h1 {
    margin: 30px 0 20px 0;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .wrapper{
        width: 100vw;
    }

    .index-banner {
        height: 50vh;
    }

}

.about {
    margin: 210px 0 0 10px;
}


