/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*
*
*
*
*
*
*
*
*
*
*stylesheet starts here */


/* General */


a {
    color: #58AEE1;
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgb(0,155,255);
    line-height: 30px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 34px;
}

html {
    min-height: 100%;
}

body {
    background-color: #E8F2F7;
}

main {
    margin-top: 220px;
}



/* HEADER */



header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 222px;
    z-index: 3;
}

.upper-header {
    display: inline-flex;
    justify-content: space-around;
    width: calc(100% - 0px);
    height: calc(75% - 0px);
}

.upper-header p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #111;
    font-weight: 200;
    text-shadow: 0.5px 0.5px 0.5px #e1e1e1;
}

#contact-info-name {
    flex-grow: 1;
    text-align: center;
}

#contact-info-name p {
    margin-top: 50px;
}

#header-logo {
    flex-grow: 2;
    margin-top: 10px;
    height: 115px;
    text-align: center;
}

#header-logo img{
    height: 130%;
    width: 50vw;
}

#contact-info {
    flex-grow: 1;
    text-align: center;
}

#contact-info p {
    margin-top: 50px;
}

#contact-info img {
    width: 18px;
}



header ul {
    display: flex;
    width: calc(100% - 0px);
    height: 24%;
    justify-content: center;
}

header ul li {
    flex-grow: 0;
    list-style: none;
    line-height: 350%;
    padding: 0 22px;
}

header ul li a {
    font-family: sans-serif;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    text-shadow: 1px 1px 1px #e1e1e1;
}

@media only screen and (min-width: 1024px) {
    #header-logo img {
        width: 500px;
    }

    header ul li {
    padding: 0 35px;
}

    header ul li a {
        font-size: 16px;
    }

    header ul li:hover a {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 800px) {
    #header-logo img {
        width: 80%;
    }

    #contact-info-name {
        display: none;
    }

    #contact-info {
        display: none;
    }
}



/* Index Page */



.index-banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('misc/waves.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    background-position-y: 200px;
    display: table;
    z-index: 2;
}

.index-banner h1 {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    line-height: 30px;
}

.text-pos {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 50%;
}

.welcome-text {
    margin: 0 50px;
}

.welcome-text h1 {
    margin: 80px 0 20px 0;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .index-banner {
        height: 65vh;
    }

    .index-banner h1 {
        font-size: 20px;
    }

}



/* About Me Page */

.about {
    margin: 50px 50px 0 50px;
    float: left;
    display: flex;
    flex-direction: column;
}

#about-text h1 {
    margin-bottom: 40px;
}

#about-img {
    width: 700px;
    height: 400px;
    margin: 170px 0 0 60px;
    background-image: url("misc/office-portrait.jpg");
    background-size: contain;
    transform: rotate(270deg);
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
    .about {
        flex-direction: row;
    }

    #about-text {
        width: 100%;
    }

    #about-img {
        height: 300px;
    }
}


/* Services Page */


.services {
    margin: 50px 50px 0 50px;
    float: left;
}

.services h1 {
    margin-bottom: 40px;
    text-align: center;
}


/* Contact Page */


.contact {
    margin: 50px 0 0 50px;
    float: left;
}

.contact h1 {
    margin-bottom: 40px;
}

.contact-form {
    margin: 50px 50px 0 50px;
    overflow: hidden;
}

#map {
    margin: 20px 20px;
    width: 85vw;
    height: 50vh;
    background-color: grey;
}

@media only screen and (min-width: 1024px) {
    #map {
        width: 600px;
    }

}

